* {
  margin: 0px;
}

body {
  display: flex;
  /* border: 2px solid gold; */
  border: none;
  padding: 80px;
  margin: 80px 50px;
  background-color: white;
  min-width: 375px;
  max-width: 1440px;
  font-family: "Inter", sans-serif;
  box-shadow: 5px 15px 20px lightgray;
}

.quote-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  min-width: 375px;
  max-width: 1440px;
  padding: 20px;
}

.quote1 {
  display: flex;
  flex-direction: column;
  /* width: 70%; */
  /* margin: 0px; */
}

.quote1 p {
  font-size: 30px;
  /* margin: 50px 30px; */
  position: relative;
  top: 180px;
  left: 100px;
}

.quote1 footer {
  font-size: 20px;
  position: relative;
  top: 220px;
  left: 100px;
}

img {
  box-shadow: 15px 10px 20px lightgray;
  /* height: 150px; */
}

button {
  width: 80px;
  height: 35px;
  position: absolute;
  top: 700px;
  left: 850px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 40px;
  border: none;
  background: white;
}
